* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root {
  --primary-color: #1a38bd;
  --secondary-color: #42a7ffc9;
  --third-color: #EF476F;
}

body {
  font-size: 16px;
  font-family: 'News Cycle', 'Arial', sans-serif;
}
